@model LogFilterAdmin
@{
    string title = "Logs";
    ViewData["Title"] = title;
    <partial name="_titleBar" model="@title" />
}

<div class="row">

    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSection" aria-expanded="false" aria-controls="collapseSection" id="toggleButton">

            <i class="fas fa-chevron-down" id="toggleIcon"></i> Filter
        </button>
    </p>
    <div class="collapse" id="collapseSection">

        <div class="card card-body">
            <form id="filterForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="UserId"></label>
                    <div class="col-md-2 p-0">
                        <select id="UserIdFilter" asp-for="UserIdFilter" asp-items="Html.GetEnumSelectList<FilterOptionN>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="UserId" asp-for="UserId" class="form-control form-control-sm" />
                        <input id="UserIdTo" asp-for="UserIdTo" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="LogAction"></label>
                    <div class="col-md-2 p-0">
                        <select id="LogActionFilter" asp-for="LogActionFilter" asp-items="Html.GetEnumSelectList<FilterOption>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="LogAction" asp-for="LogAction" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="TranDate"></label>
                    <div class="col-md-2 p-0">
                        <select id="TranDateFilter" asp-for="TranDateFilter" asp-items="Html.GetEnumSelectList<FilterOptionN>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="TranDate" type="date" asp-for="TranDate" class="form-control form-control-sm" />
                        <input id="TranDateTo" type="date" asp-for="TranDateTo" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="UserName"></label>
                    <div class="col-md-2 p-0">
                        <select id="UserNameFilter" asp-for="UserNameFilter" asp-items="Html.GetEnumSelectList<FilterOption>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="UserName" asp-for="UserName" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label" asp-for="FullName"></label>
                    <div class="col-md-2 p-0">
                        <select id="FullNameFilter" asp-for="FullNameFilter" asp-items="Html.GetEnumSelectList<FilterOption>()" class="form-select form-select-sm">
                        </select>
                    </div>
                    <div class="col-md-3 p-0">
                        <input id="FullName" asp-for="FullName" class="form-control form-control-sm" />
                    </div>
                </div>








                <div class="form-group row">
                    <div class="col-md-4 p-0">
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </div>
                    <div class="col-md-3 p-0">
                        <button type="button" id="btnSearch" class="btn btn-primary w-100">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br />

@Html.Raw(@ViewBag.htmltb)
@section Scripts {
    <script>
        @Html.Raw(@ViewBag.script)
    </script>
}
