<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Press - @ViewData["Title"]  </title>
     
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/select2.min.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/style.css">
     <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.css">
   
    <!-- DataTables -->
    <link href="~/dt/datatables.min.css" rel="stylesheet" />
    
</head>

<body>
    @{
        IEnumerable<Notification> notes = ViewData["usernotes"] as IEnumerable<Notification>;
        Entities.User _user = ViewData["user"] as Entities.User;
        IEnumerable<PagesV> _pagesV = ViewData["_sideMenu"] as IEnumerable<PagesV>;
        var profileimage = ViewData["profileimage"];
        ViewBag._roleid = _user.RoleId;
    }
    <div class="wrapper">
        <!-- Sidebar -->
        <partial name="_SideMenu" model="@_pagesV" />
        <!-- Main Component -->
        <div class="main">
            <nav style="background-color: #022c53;" class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button class="btn" type="button" data-bs-theme="dark">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Right-side user info -->
                <div class="ms-auto d-flex align-items-center">
                    @if (@profileimage != null)
                    {
                        <img src="@profileimage" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;" alt="@_user.FullName">
                    }
                    else
                    {
                        <img src="~/images/person.jpg" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;" alt="@_user.FullName">
                    }
                    <a asp-controller="Account" asp-action="Edit" asp-route-id="0" ><span class="text-white me-3">@_user.FullName </span></a>

                    <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-light">Logout</a>
                </div>
            </nav>

            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                        <br />
                        @RenderBody()
                    </div>
                </div>
         </main>
        </div>
    </div>
     
    <script src="~/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.js"></script>
<script src="~/dt/datatables.min.js"></script>

    <script src="~/js/select2.min.js"></script>
    <script src="~/js/script.js"></script>
    @await Html.PartialAsync("_Note")
   
      @await RenderSectionAsync("Scripts", required: false)
    
</body>

</html>